*{
    margin: 0;
    /* width: 100%; */
    padding: 0;
    box-sizing: border-box;
}
html,body{
  /* width: 102rem; */
  /* height: 100%; */
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
  /* overflow-x: auto; */
}
:root{
    /* --primary-color: linear-gradient(rgb(239, 141, 239),rgb(150, 150, 251)); */
    --secondary-color:  #24262b;
    --primary-color: rgb(238, 236, 238);
}

.dark-theme{
    --primary-color:  #24262b;
    --secondary-color: rgb(238,236,238);
}
.navbar{
    display: flex;
    /* padding: 20px; */
    align-items: center;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav a:hover{
  color: #E1306C;
  font-size: 17px ;
  font-weight: bold;
}
.logox{
    /* margin-left: 26px; */
    margin-top: 12px;
}
.cc{
  color: rgb(131, 36, 199);
  
}
a{
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}
p{
    color:black;
    
}
.serve{
  /* margin-top: 70px; */
    background: var(--primary-color);
}
.Serv-head{
  padding-top: 50px;
  font-size: 50px;
  font-family: 'Aboreto', cursive;

    line-height: 60px;
    margin-bottom: 25px 0;
    color: var(--secondary-color);
}
.proj-head{
  padding-top: 100px;
  font-family: 'Aboreto', cursive;
  margin-bottom: 0px;
  font-size: 50px;
  background: var(--primary-color);
    color: var(--secondary-color);
}
/* @media (max-width: 700px) {
  .proj-head{
    padding-bottom: 20px;
  }
} */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 50px; */
    justify-content: space-around;
}
.col-2{
    /* flex-basis: 50%; */
    /* padding-left: 10px; */
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
/* .img-box{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom:0;
  right: 100px;
  }
.img-box img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  } */
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    
    margin-bottom: 25px 0;
    color: black;

}
#icon{
    cursor: pointer;

}

.btn{
    display: inline-block;
    background: rgb(131, 36, 199);
    color: white;
    margin-top: 25px;
    padding: 10px 10px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: white;
    color: rgb(131, 36, 199);
    border: 1px solid rgb(131, 36, 199);
}
.header{
    background:linear-gradient(rgb(255, 187, 255),rgb(230, 230, 237));
    /* width: 200rem; */
    /* background: radial-gradient(#fff, #ffd6d6); */
}

.wrapper{
    background: var(--primary-color);
    display: grid;
    margin: 50px 90px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
.wrapper1{
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));


}
  /* @media (max-width: 700px) {
    .wrapper{
      margin: 20px auto;
    }
  } */
  .wrapper .box{
    width: 350px;
    /* border: 15px solid linear-gradient(-135deg, #c850c0, #4158d0);
    border-radius: 50px; */

    margin: 0 auto;
    position: relative;
    perspective: 1000px;
  }
  /* .box:hover{
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    cursor: pointer;
  } */
  .wrapper .box .front-face{
    background: var(--primary-color);
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
  }
  .box .front-face .icon{
    height: 80px;
  }
  .box .front-face .icon i{
    font-size: 65px;
  }
  .box .front-face span,
  .box .back-face span{
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .front-face .icon i,
  .box .front-face span{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .box .back-face{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border: 1px solid linear-gradient(-135deg, #c850c0, #4158d0);
    border-radius: 20px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
  }
  .box .back-face p{
    margin-top: 10px;
    text-align: justify;
  }
  .box:hover .back-face{
    opacity: 1;
    transform: rotateX(0deg);
  }
  .box:hover .front-face{
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
  }
/* NEW Card

*/

















@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.body2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  background: var(--primary-color);
}
.blog-card{
  position: absolute;
  height: 370px;
  width: 95%;
  max-width: 850px;
  margin: auto;
  border-radius: 25px;
  background: var(--primary-color);
  border-top: px solid rgba(146,18,225,0.3);
  box-shadow: 10px 10px 50px rgba(146,18,225,0.3);
}
.inner-part{
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
  padding: 0;
  transition: .1s ease-in;
}
.inner-part .img{
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 7px 7px 15px rgba(146,18,225,0.3);
}
#imgTap:checked ~ .inner-part .img{
  height: 370px;
  width: 850px;
  z-index: 99;
  margin-top: 10px;
  transition: .3s .2s ease-in;
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: .6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3{
  opacity: 1;
  transition-delay: .2s;
}
.content{
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: .6s;
}
#imgTap:checked ~ .inner-part .content{
  display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3{
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: .3s;
}
.content span{
  display: block;
  color: #4d4d4e;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500
}
.content .title{
  font-size: 30px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.content .text{
  color: var(--secondary-color);
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: justify;
}
.content button{
  display: inline-flex;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--secondary-color);
  background:  rgba(146,18,225,0.3);
}
.content button:hover{
  background: var(--primary-color);
  color: #c850c0;
}
.sliders{
  position: absolute;
  bottom: 25px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 12;
}
#imgTap:checked ~ .sliders{
  display: none;
}
.sliders .tap{
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover{
  background: #cccccc;
}
.sliders .tap:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: rgba(146,18,225,0.3);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform .6s;
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before{
  transform: scaleX(1);
  width: 100%;
}


.cards{
  /* max-width: 1100px; */
  margin: 0 auto;
  background: var(--primary-color);
  text-align: center;
  padding: 150px;
}
.cards h2.header{
  font-size: 40px;
  font-family: 'Aboreto', cursive;

  margin: 0 0 30px 0;
  background: var(--primary-color);

  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--secondary-color);
}
.services{
  display: flex;
  background: var(--primary-color);
  align-items: center;
}
.content8{
  display: flex;
  flex-wrap: wrap;
  /* flex: 1; */
  /* background: var(--primary-color) */
  margin: 20px;
  color: var(--secondary-color);
  margin-top: 60px;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 14px;
  transition: all .3s ease;
  animation: bubble 2s linear infinite; 
}
@keyframes bubble {
  0%{
      transform: translateY(0);
      /* opacity: 0; */
  }
  100%{
      transform: translateY(-9vh);
      /* opacity: 0; */
  }
  
}
.content8 .fa{
  font-size: 50px;
  color: var(--secondary-color);
  margin: 16px 0;
}
.content8 > *{
  flex: 1 1 100%;
}
.content8:hover{
  color: var(--primary-color);
}
.content8:hover a{
  border-color: var(--primary-color);
  background: var(--primary-color);
}
.content-10:hover{
  border-color: #0c1d99;
  background: #586af8;
}
.content-10:hover a{
  color:  #0c1d99;
}
.content-20:hover{
  border-color: #E1306C;
  background: #E1306C;
}
.content-20:hover a{
  color: #E1306C;
}
.content-30:hover{
  border-color: #ff0000;
  background: #ff0000;
}
.content-30:hover a{
  color: #ff0000;
}
.content8 h2{
  font-size: 25px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content8 p{
  font-size: 17px;
  color: var(--secondary-color);
  font-family: 'Poppins',sans-serif;
}
.content8 a{
  margin: 19px 0;
  background: var(--primary-color);
  color: var(--secondary-color);
  display: inline-block;
  text-decoration: none;
  /* text-transform: uppercase; */
  border: 1px solid var(--secondary-color);
  padding: 10px 0px;
  border-radius: 25px;
  transition: .3s ease;
}
.content8 a:hover{
  border-radius: 4px;
}
/* @media (max-width: 900px) {
  .services{
    display: flex;
    flex-direction: column;
  }
} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
.container5{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--secondary-color);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color:var(--primary-color);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 300;
	color: var(--primary-color);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:  var(--primary-color);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
  border: 1px solid black;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color:var(--primary-color);
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: var(--secondary-color);
	background-color:var(--primary-color);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.f4{
  margin-bottom: 80px;
}
.f2{
  margin-top: 25px;
}
.f3{
  margin-top: -5px;
}







/* RESPONSIVENESS */

/* .hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  }
@media(max-width: 768px)
{
    .hamburger {
    display: block;
    }
    .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate (45deg);
    }
    .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    }
  }

  @media(min-width: 768px)
  {
    .nav-menu{
      position: absolute;
    left: 30%;
    top: 31px;
    gap: 0;
    flex-direction: column;
    background-color: linear-gradient(rgb(255, 187, 255),rgb(230, 230, 237));
    width: 100%;
    text-align: center;
    transition: 0.3s;
  
    }
  }
.nav-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: linear-gradient(rgb(255, 187, 255),rgb(230, 230, 237));
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.nav-item{
  margin: 16px 0;
}
.nav-menu.active{
  left: 0;
} */